  #container {
    margin: auto;
  }
  
  #logo{
    color: #fff;
    font-family: Pacifico;
    font-size: 5em;
    margin: 20px 0 20px 0;
  }
  
  #logo a {
    color: #007bff;
    font-family: Pacifico;
    animation: neon2 1s ease-in-out infinite alternate;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  #logo a:hover {
    color:#343a40;
    animation: neon1 5s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #007bff, 0 0 20px #007bff, 0 0 30px #007bff, 0 0 40px #343a40, 0 0 70px #343a40, 0 0 80px #343a40, 0 0 100px #343a40, 0 0 150px #343a40;
      }
      to {
        text-shadow: 0 0 5px #007bff, 0 0 10px #007bff, 0 0 15px #007bff, 0 0 20px #343a40, 0 0 35px #343a40, 0 0 40px #343a40, 0 0 50px #343a40, 0 0 75px #343a40;
      }
    }
  
  /*glow*/
  @keyframes neon1 {
    from {
      text-shadow: 0 0 10px #007bff, 0 0 20px #007bff, 0 0 30px #007bff, 0 0 40px #343a40, 0 0 70px #343a40, 0 0 80px #343a40, 0 0 100px #343a40, 0 0 150px #343a40;
    }
    to {
      text-shadow: 0 0 5px #007bff, 0 0 10px #007bff, 0 0 15px #007bff, 0 0 20px #343a40, 0 0 35px #343a40, 0 0 40px #343a40, 0 0 50px #343a40, 0 0 75px #343a40;
    }
  }

  @keyframes neon2 {
    from {
      text-shadow: 0 0 10px #343a40, 0 0 20px #343a40, 0 0 30px #343a40, 0 0 40px #343a40, 0 0 70px #343a40, 0 0 80px #343a40, 0 0 100px #343a40, 0 0 150px #343a40;
    }
    to {
      text-shadow: 0 0 5px #343a40, 0 0 10px #343a40, 0 0 15px #343a40, 0 0 20px #343a40, 0 0 35px #343a40, 0 0 40px #343a40, 0 0 50px #343a40, 0 0 75px #343a40;
    }
  }
  
  /*REEEEEEEEEEESPONSIVE*/
  
  @media (max-width: 650px) {
    #container {
      width: 100%;
    }
    p {
      font-size: inherit;
    }
  }
  
  #logo {
    padding-left: 20px;
    margin-bottom: 5px;
    margin-top: 25px;
  }