.brand-logo {
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Titan One', cursive;
    color: #ff5722;
    margin-left: 15px;
}

#nav-mobile {
    font-family: 'Indie Flower', cursive;
}